@import url("https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans+Condensed:300");
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  background-color: #202C39;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body{
  -ms-overflow-style: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  font: normal 16px/26px Pacifico, sans-serif;
  color: #fff;
  padding: 100px 20px 200px;
  box-sizing: border-box;
}

.block {
  z-index: 1;
  position: relative;
}
.block:before {
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background-color: #f2f2f2;
  left: 50%;
  margin-top: 90px;
}


.header{
  font: bold 52px/62px Montserrat, sans-serif;
  margin: 60px;
  color: #828A95;
}

.title {
  font: bold 42px/52px Pacifico, sans-serif;
  text-align: center;
  padding: 20px;
  transition: all 0.8s ease-in-out;
}

.each-event {
  background-color: #93032E;
  color: #F1E3F3;
  padding: 15px;
  margin: 60px 20px;
  width: 300px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.each-event:before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: -27px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 4px 20px -4px rgba(64, 64, 64, 0.8);
}
.each-event:nth-child(odd) {
  margin-left: calc(50% + 20px);
}
.each-event:nth-child(even) {
  margin-left: calc(50% - 321px);
}
.each-event:nth-child(even):before {
  left: calc(100% + 14px);
}

.additional-info{
  font: bold 12px/24px Montserrat, sans-serif;
  color: #BFACAA;
}

.title.non-focus {
  font-size: 24px;
  line-height: 34px;
  transition: all 0.8s ease-in-out;
}

.each-event.non-focus{
  color: #F1E3F3;
  background: #828A95;
  margin-top: 90px;
  transform: rotateZ(45deg);
  transition: all 0.8s ease-in-out;
}
.each-event.non-focus:before {
  opacity: 0;
  background-color: #aaa;
}



/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
  position: fixed;
  border-radius: 50%; 
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.cursor{
  background-color: #fff;
  height: 0;
  width: 0;
  z-index: 99999;
}
.cursor2,.cursor3{
  height: 36px;
  width: 36px;
  z-index:99998;
  -webkit-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
  -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
  transform:scale(2) translateX(-25%) translateY(-25%);
  border:none
}
.cursor2{
  border: 2px solid #fff;
  box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
  background: rgba(255,255,255,1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
  .cursor,.cursor2,.cursor3{
    display: none
  }
}


/* Modal
================================================== */
 
.modal {
  position: fixed;
  z-index: 98;
}
.modal:before, .modal:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #BFACAA;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 200%;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  -webkit-transform: translateX(100%) translateY(-100%);
          transform: translateX(100%) translateY(-100%);
}
.modal:after {
  background: #93032E;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.modal:before {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.modal__content {
  position: fixed;
  visibility: hidden;
  top: 50%;
  margin-top: 20px;
  left: 20vw;
  right: 20vw;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 60vw;
  text-align: center;
}
.modal__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  font: 32px/42px 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.15;
  letter-spacing: 2px;
  -webkit-transform: translate(100px, 0%);
          transform: translate(100px, 0%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-top: 0;
  margin-bottom: 0;
}

body.modal-active .modal__content {
  visibility: visible;
}

body.modal-active .modal {
  visibility: visible;
}
body.modal-active .modal:before, body.modal-active .modal:after {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
  border-radius: 0;
}
body.modal-active .modal:after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
body.modal-active .modal:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
body.modal-active .modal__list-item {
  opacity: 1;
  margin-bottom: 3vh;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.modal-active .modal__list-item:nth-child(1) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
body.modal-active .modal__list-item:nth-child(2) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
body.modal-active .modal__list-item:nth-child(3) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
body.modal-active .modal__list-item a{
  color: #828A95;;
}
body.modal-active .modal__list-item a:hover{
  color: black;
  transition: opacity .5s ease, color .5s ease, -webkit-transform .5s ease;
}
body.modal-active .modal__list-item:last-child a{
  font: bold 18px/28px 'Montserrat', sans-serif;
}
body.modal-active .modal__list-item:last-child a:hover{
  color: #202C39;
  transition: opacity .5s ease, color .5s ease, -webkit-transform .5s ease;
}